## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import time

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,28.06,100,75,24.16,light snow
1,1,Selu,IN,19.4667,76.4667,95.13,34,100,14.79,moderate rain
2,2,Longyearbyen,SJ,78.2186,15.6401,30.04,64,40,5.75,scattered clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,71.01,48,64,20.85,broken clouds
4,4,Hermanus,ZA,-34.4187,19.2345,68.81,77,16,22.10,few clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Victoria,HK,22.2855,114.1577,89.33,85,63,5.99,broken clouds
15,15,Saint-Philippe,RE,-21.3585,55.7679,78.39,76,40,5.01,scattered clouds
16,16,Oktyabrskoye,RU,43.0645,44.7417,78.94,39,40,6.89,scattered clouds
19,19,Nouakchott,MR,18.0858,-15.9785,78.73,58,41,14.05,scattered clouds
27,27,Artyom,AZ,40.4723,50.3330,75.34,66,35,18.39,scattered clouds
29,29,Grand Gaube,MU,-20.0064,57.6608,81.37,67,23,1.99,light rain
34,34,Bathsheba,BB,13.2167,-59.5167,84.81,51,20,15.73,few clouds
37,37,Mahebourg,MU,-20.4081,57.7000,81.25,73,20,4.61,few clouds
39,39,Georgetown,MY,5.4112,100.3354,86.00,84,20,6.91,few clouds
40,40,Bambous Virieux,MU,-20.3428,57.7575,81.00,73,20,4.61,light rain

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             288
City                   288
Country                285
Lat                    288
Lng                    288
Max Temp               288
Humidity               288
Cloudiness             288
Wind Speed             288
Current Description    288
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Victoria,HK,22.2855,114.1577,89.33,85,63,5.99,broken clouds
15,15,Saint-Philippe,RE,-21.3585,55.7679,78.39,76,40,5.01,scattered clouds
16,16,Oktyabrskoye,RU,43.0645,44.7417,78.94,39,40,6.89,scattered clouds
19,19,Nouakchott,MR,18.0858,-15.9785,78.73,58,41,14.05,scattered clouds
27,27,Artyom,AZ,40.4723,50.3330,75.34,66,35,18.39,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Grajau,BR,-5.8194,-46.1386,83.97,54,55,3.71,broken clouds
696,696,Porto Novo,BJ,6.4965,2.6036,89.42,56,70,11.01,broken clouds
699,699,Arsk,RU,56.0915,49.8778,76.78,46,2,7.81,clear sky
703,703,Chalmette,US,29.9427,-89.9634,80.01,75,20,1.99,few clouds
704,704,Rameswaram,IN,9.2833,79.3000,84.34,77,60,19.82,broken clouds

In [18]:
clean_df.count()

Unnamed: 0             285
City                   285
Country                285
Lat                    285
Lng                    285
Max Temp               285
Humidity               285
Cloudiness             285
Wind Speed             285
Current Description    285
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Victoria,HK,89.33,broken clouds,22.2855,114.1577,
15,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,
16,Oktyabrskoye,RU,78.94,scattered clouds,43.0645,44.7417,
19,Nouakchott,MR,78.73,scattered clouds,18.0858,-15.9785,
27,Artyom,AZ,75.34,scattered clouds,40.4723,50.3330,
29,Grand Gaube,MU,81.37,light rain,-20.0064,57.6608,
34,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,
37,Mahebourg,MU,81.25,few clouds,-20.4081,57.7000,
39,Georgetown,MY,86.00,few clouds,5.4112,100.3354,
40,Bambous Virieux,MU,81.00,light rain,-20.3428,57.7575,

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    time.sleep(0.5)
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Victoria,HK,89.33,broken clouds,22.2855,114.1577,Mini Hotel Central
15,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
16,Oktyabrskoye,RU,78.94,scattered clouds,43.0645,44.7417,Prolesok Mini-hotel
19,Nouakchott,MR,78.73,scattered clouds,18.0858,-15.9785,HOTEL IMAN فندق إيمان
27,Artyom,AZ,75.34,scattered clouds,40.4723,50.3330,Merdan Respect
...,...,...,...,...,...,...,...
688,Grajau,BR,83.97,broken clouds,-5.8194,-46.1386,Hotel Confiança
696,Porto Novo,BJ,89.42,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
699,Arsk,RU,76.78,clear sky,56.0915,49.8778,Gostinitsa Zapadnyy
703,Chalmette,US,80.01,few clouds,29.9427,-89.9634,Marina Inn & Suites Chalmette-New Orleans
704,Rameswaram,IN,84.34,broken clouds,9.2833,79.3000,Daiwik Hotels Rameswaram

In [35]:
# 8a. Create the output File (CSV)
output_data_file = clean_hotel_df.to_csv(r'WeatherPy_vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

'City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name\n13,Victoria,HK,89.33,broken clouds,22.2855,114.1577,Mini Hotel Central\n15,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,"Chambres d\'hôte ""La Trinité"""\n16,Oktyabrskoye,RU,78.94,scattered clouds,43.0645,44.7417,Prolesok Mini-hotel\n19,Nouakchott,MR,78.73,scattered clouds,18.0858,-15.9785,HOTEL IMAN فندق إيمان\n27,Artyom,AZ,75.34,scattered clouds,40.4723,50.333,Merdan Respect\n29,Grand Gaube,MU,81.37,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa\n34,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,Atlantis Hotel\n37,Mahebourg,MU,81.25,few clouds,-20.4081,57.7,Shandrani Beachcomber Resort & Spa\n39,Georgetown,MY,86.0,few clouds,5.4112,100.3354,Cititel Penang\n40,Bambous Virieux,MU,81.0,light rain,-20.3428,57.7575,Casa Tia Villa\n43,Dingle,PH,80.42,moderate rain,10.9995,122.6711,SEGAYA PROPERTY\n48,Calatayud,ES,81.64,overcast clouds,41.3535,-1.6432,Hotel Monasterio Benedictino\n52,Arraial Do Cabo,BR,76.96,few clouds,-22.9661,-42.0278,Pousada Porto Praia\n53,Belmonte,BR,79.3,clear sky,-15.8631,-38.8828,Pousada Monte Carmelo O Pão\n54,Inhambane,MZ,80.58,few clouds,-23.865,35.3833,Oceano\n55,Kalangala,UG,75.04,broken clouds,-0.3089,32.225,Ssese Habitat Resort\n60,Bonthe,SL,84.9,light rain,7.5264,-12.505,Bonthe Holiday Village\n61,Korla,CN,89.94,clear sky,41.7597,86.1469,Gulisitan Hotel\n63,Matiguas,NI,79.54,overcast clouds,12.8373,-85.4622,Hotel Bethel\n65,Carutapera,BR,82.08,clear sky,-1.195,-46.02,Lidera\n66,Namibe,AO,84.83,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe\n67,Cayenne,GF,80.1,overcast clouds,4.9333,-52.3333,Hôtel Le Dronmi\n68,Cabedelo,BR,81.27,broken clouds,-6.9811,-34.8339,Hotel Pigalle\n71,Dennery,LC,82.4,scattered clouds,13.8996,-60.8879,The Fox Grove Inn\n76,Feijo,BR,77.74,scattered clouds,-8.1642,-70.3536,Hotel e Restaurante Aҫai\n79,The Valley,AI,83.1,broken clouds,18.217,-63.0578,CeBlue Villas & Beach Resort\n81,Bubaque,GW,77.86,few clouds,11.2833,-15.8333,"Casa Dora, Bubaque"\n82,Thinadhoo,MV,84.9,scattered clouds,0.5333,72.9333,\n83,Kashi,CN,88.81,few clouds,39.4547,75.9797,帕米尔青年旅舍\n84,Caravelas,BR,81.9,few clouds,-17.7125,-39.2481,Pousada dos Navegantes\n86,Boa Vista,BR,76.98,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel\n87,Luanda,AO,82.4,clear sky,-8.8368,13.2343,LANDU MARINEZA LUFUANDU TONI\n90,Sao Joao Da Barra,BR,75.29,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas\n94,Hithadhoo,MV,82.81,overcast clouds,-0.6,73.0833,Scoop Guest House\n98,Itacoatiara,BR,81.07,broken clouds,-3.1431,-58.4442,BBB Rooms Centro Itacoatiara AM\n99,Cockburn Town,TC,78.42,overcast clouds,21.4612,-71.1419,Osprey Beach Hotel\n101,Erzurum,TR,78.8,broken clouds,40.0,41.5,\n117,Abonnema,NG,87.8,light rain,4.7084,6.7931,Corper\'s Lodge Obonoma\n118,Dangriga,BZ,82.0,scattered clouds,16.9692,-88.2321,Chaleanor Hotel\n119,Rincon,US,78.85,few clouds,32.296,-81.2354,Days Inn Rincon\n120,Arraias,BR,83.12,clear sky,-12.9288,-46.9437,Hotel Japão\n122,Axim,GH,85.05,overcast clouds,4.8699,-2.2405,AXIM BEACH RESORT AND SPA\n126,Zabol,AF,84.63,clear sky,32.25,67.25,\n127,Puri,IN,88.32,few clouds,19.8,85.85,OYO 1577 Hotel Shree Hari Grand\n128,Cap Malheureux,MU,81.0,scattered clouds,-19.9842,57.6142,Pereybere Hotel & Spa\n130,Souillac,MU,81.36,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa\n132,Marivan,IR,87.89,clear sky,35.5219,46.176,Miran Hotel\n134,Faya,SA,86.0,clear sky,18.3851,42.4509,مقبرة ال مجمل\n138,Parrita,CR,82.17,broken clouds,9.5201,-84.3225,Beso del Viento\n139,Ios,GR,76.91,scattered clouds,36.7333,25.2833,Ios Palace Hotel & Spa\n140,Massaranduba,BR,76.59,broken clouds,-7.2003,-35.7892,\n142,Shkoder,AL,77.18,clear sky,42.0683,19.5126,Hotel Tradita\n146,Gamba,GA,82.09,overcast clouds,-2.65,10.0,\n147,Culfa,AZ,87.8,overcast clouds,38.9558,45.6308,Hotel Araz\n149,Beja,TN,86.0,broken clouds,36.7256,9.1817,باجة العتيقة Beja El Medina\n152,Quatre Cocos,MU,81.09,scattered clouds,-20.2078,57.7625,Emeraude Beach Attitude Hotel\n154,Sao Felix Do Xingu,BR,82.36,few clouds,-6.6447,-51.995,Rio Xingu Camping\n155,Sao Sebastiao,BR,78.22,scattered clouds,-23.76,-45.4097,Hotel Recanto dos Pássaros\n156,San Andres,CO,78.82,scattered clouds,12.5847,-81.7006,Hotel Arena Blanca\n158,Iaciara,BR,85.86,clear sky,-14.0958,-46.6317,Hotel Matinha\n162,Tabou,CI,84.97,overcast clouds,4.423,-7.3528,hotêl doufoulougou\n163,Praia,CV,79.34,few clouds,14.9215,-23.5087,LT Aparthotel\n164,Sao Francisco,BR,85.86,scattered clouds,-15.9486,-44.8644,Hotel Supremo\n166,Touros,BR,83.3,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON\n172,Bonfim,BR,77.83,overcast clouds,3.0833,-59.95,\n173,Matara,LK,80.37,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort\n174,Moa,CU,80.69,overcast clouds,20.6569,-74.9403,Carmen\n175,Maceio,BR,81.84,broken clouds,-9.6658,-35.7353,Poutur Pousada\n176,Mwingi,KE,79.36,scattered clouds,-0.9344,38.0601,Thorn Tree by The Address\n178,Corn Island,NI,81.1,overcast clouds,12.1694,-83.0418,Big Fish Guest House\n179,Dwarka,IN,84.92,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort\n180,Syracuse,IT,86.05,clear sky,37.0881,15.2792,Hotel Posta\n183,Kudahuvadhoo,MV,83.21,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives\n188,Gat,IL,86.0,clear sky,31.61,34.7642,OlusHome\n192,Nevesinje,BA,75.2,few clouds,43.2586,18.1133,Prenoćište Nevesinje\n193,Jutai,BR,82.53,overcast clouds,-5.1833,-68.9,\n194,Salalah,OM,89.6,few clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH\n196,Port Elizabeth,ZA,75.09,clear sky,-33.918,25.5701,39 On Nile Guest House\n197,Keffi,NG,88.18,scattered clouds,8.8486,7.8736,Imam Family\n198,Bengkulu,ID,77.94,light rain,-3.8004,102.2655,Grage Hotel Bengkulu\n204,Mahibadhoo,MV,83.91,overcast clouds,3.7833,72.9667,Omadhoo Inn\n205,Caconda,AO,76.71,clear sky,-13.7333,15.0667,\n208,Vila Velha,BR,78.75,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha\n210,Port Blair,IN,82.56,overcast clouds,11.6667,92.75,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"\n213,Bandarbeyla,SO,83.07,broken clouds,9.4942,50.8122,JABIR HOTEL\n215,Puerto Colombia,CO,78.8,broken clouds,10.9878,-74.9547,Hotel El Emigrante\n217,Changji,CN,79.59,light rain,44.0167,87.3167,Lvye Holiday Resort\n221,Gardabani,GE,77.09,light rain,41.4605,45.0928,Namig gurbanov\n222,Bluefields,NI,80.6,scattered clouds,12.0137,-83.7635,Flamingo Hotel and Casino\n223,Bumba,CD,88.84,overcast clouds,2.1833,22.4667,Hôtel Cape Town\n224,Nosy Varika,MG,75.15,clear sky,-20.5833,48.5333,Hotel Volazara\n228,Dhidhdhoo,MV,83.61,broken clouds,6.8833,73.1,Dhidhoo beach\n229,Point Pedro,LK,84.02,few clouds,9.8167,80.2333,Gtr homes\n230,Altamira,BR,84.29,broken clouds,-3.2033,-52.2064,Requinte Hotel\n234,San Felipe,VE,78.33,broken clouds,10.3399,-68.7425,Posada Llovizna Rodríguez\n239,Pachino,IT,86.04,clear sky,36.7186,15.0907,Pietra Bianca B&B\n242,Punta Umbria,ES,76.12,scattered clouds,37.1821,-6.9661,Barceló Punta Umbría Beach Resort\n243,Grand-Lahou,CI,86.43,broken clouds,5.1367,-5.0242,Hotel Beatitude de Grand Lahou\n244,Gambela,ET,89.4,scattered clouds,8.25,34.5833,Solomon Debebe Hotel\n246,Camabatela,AO,84.27,overcast clouds,-8.1881,15.375,Pensão E Restaurantes\n250,Karaton,ID,84.96,overcast clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park\n252,Barcelos,PT,80.28,few clouds,41.5388,-8.6151,Hotel Do Terço\n253,Meulaboh,ID,78.21,overcast clouds,4.1363,96.1285,Kost Pria\n256,Odweyne,SO,82.17,overcast clouds,9.4092,45.06399999999999,Eng Hiirey House\n263,Alenquer,BR,82.74,few clouds,-1.9417,-54.7383,Josilene Castro\n264,Riachao,BR,82.9,overcast clouds,-7.3619,-46.6172,Pousada Nordestina\n266,Diamantino,BR,81.5,overcast clouds,-14.4086,-56.4461,Hotel Delta\n271,Quelimane,MZ,80.6,broken clouds,-17.8786,36.8883,Hotel Flamingo\n272,Lucea,JM,81.86,overcast clouds,18.451,-78.1736,Grand Palladium Jamaica Resort & Spa\n277,Iberia,US,75.0,mist,29.9502,-91.7507,back to back rv park\n278,Mananjary,MG,75.0,clear sky,-21.2167,48.3333,Vahiny Lodge\n284,Kisangani,CD,88.16,broken clouds,0.5167,25.2,Grand Ramela Hotel\n286,Le Port,RE,78.8,clear sky,-20.9373,55.2919,KORBEY D\'OR OUEST\n288,Vangaindrano,MG,75.0,clear sky,-23.35,47.6,Hotel Fanilo\n289,Sokoni,TZ,84.06,broken clouds,-6.4333,39.55,Ujamaa Beach Resort\n290,Morondava,MG,78.1,clear sky,-20.2833,44.2833,La Case Bambou\n291,Qurbus,TN,77.0,few clouds,36.8167,10.5687,اقامةالمياه المعدنية\n293,Ormara,PK,86.25,clear sky,25.2088,64.6357,Crystal Beach and Camping Resort Ormara\n294,Kasungu,MW,77.04,clear sky,-13.0333,33.4833,Mame Motel\n295,Porto Walter,BR,78.03,clear sky,-8.2686,-72.7439,Secretaria de saúde\n299,Bereda,ES,77.41,scattered clouds,43.2686,-7.5406,Pazo de Verdes\n302,Port-Gentil,GA,82.36,broken clouds,-0.7193,8.7815,Fengshui Residence\n304,Semnan,IR,87.67,clear sky,35.5729,53.3971,Semnan Tourist Hotel\n305,Oltu,TR,79.57,broken clouds,40.5498,42.0013,Oltu Öğretmenevi\n307,Fershampenuaz,RU,76.03,clear sky,53.5202,59.8117,Zavod\' Na Gumbeyke\n309,Itarema,BR,83.98,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"\n313,Ciudad Bolivar,VE,80.35,overcast clouds,8.1222,-63.5497,Hotel Edi\n316,Kavaratti,IN,83.91,scattered clouds,10.5669,72.642,Hotels in Lakshadweep Islands\n321,Cururupu,BR,88.79,clear sky,-1.8283,-44.8683,POUSADA TRAVÉS\'CIA\n322,Mato Verde,BR,84.36,scattered clouds,-15.3972,-42.8664,Quality Hotel\n327,Fuerte Olimpo,PY,82.8,overcast clouds,-21.0415,-57.8738,Hospedaje DAMI\n328,Colombia,CU,75.92,clear sky,20.9881,-77.4297,Casa Lazara y Pupi\n332,Harper,LR,85.21,light rain,4.375,-7.7169,Screensaver\n333,Grand-Santi,GF,78.01,overcast clouds,4.25,-54.3833,Hotel La Villa Couacou\n337,Clearwater,US,82.06,clear sky,27.9659,-82.8001,Shephard\'s Beach Resort\n338,Ambilobe,MG,82.47,scattered clouds,-13.2,49.05,Hôtel & Restaurant DIANA Ambilobe\n343,Soyo,AO,86.05,broken clouds,-6.1349,12.3689,Hotel Mpampa\n344,Ngora,UG,82.76,overcast clouds,1.4314,33.7772,Traveler\'s rest guest house\n346,Omboue,GA,82.58,overcast clouds,-1.5746,9.2618,Hotel Olako\n350,Ilhabela,BR,76.21,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel\n352,Marrakesh,MA,82.47,broken clouds,31.6315,-8.0083,Novotel Marrakech Hivernage\n353,Okrika,NG,88.12,light rain,4.7416,7.0849,ayo mutiaru f\n355,Benghazi,LY,78.13,few clouds,32.1167,20.0667,Tibesti Hotel\n358,Verkhniy Mamon,RU,78.8,scattered clouds,50.1635,40.3832,Yaroton\n359,Luau,AO,83.34,overcast clouds,-10.7073,22.2247,Casa- Bernardo Cândido\n360,Bin Qirdan,TN,81.21,clear sky,33.1378,11.2197,Hôtel Palace\n361,Mali,GN,78.12,overcast clouds,12.079,-12.2982,Hotel La Dame de Mali\n363,Santa Rosa,PH,88.09,broken clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home\n364,Latnaya,RU,80.49,overcast clouds,51.6586,38.9011,Angel Inn\n368,Giyon,ET,78.62,overcast clouds,8.5333,37.9833,Negash Lodge\n370,Carnarvon,AU,75.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon\n371,Shirgaon,IN,87.82,overcast clouds,19.7,72.7,"Samarth Krupa Farm, Palghar"\n375,Maroantsetra,MG,76.37,light rain,-15.4333,49.7333,Annexe Vatsy Hôtel\n376,Mayumba,GA,81.61,overcast clouds,-3.432,10.6554,LIKWALE LODGE\n380,Conde,BR,80.06,broken clouds,-7.2597,-34.9075,Pousada Beija Flor\n384,Soverato,IT,78.71,overcast clouds,38.685,16.5499,Hotel San Domenico\n386,Melito Di Porto Salvo,IT,76.89,few clouds,37.9222,15.7714,B&B Nereidi\n389,Antalaha,MG,78.91,light rain,-14.9003,50.2788,Hotel Vitasoa\n390,Cabimas,VE,81.54,overcast clouds,10.3883,-71.4399,Foresgum jejdjdkdkdkdkdkdkdkdkd\n393,Buritama,BR,83.35,scattered clouds,-21.0661,-50.1472,Rancho Do Presidente - Buritama - SP\n394,Beira,MZ,82.4,few clouds,-19.8436,34.8389,Beira Terrace Hotel\n398,Sao Jose Da Coroa Grande,BR,81.32,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel\n400,Iki-Burul,RU,86.34,broken clouds,45.8208,44.6472,\n407,Buchanan,LR,89.56,light rain,5.8808,-10.0467,Kamaneahn Hotel Inc\n408,Maragogi,BR,81.1,few clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort\n409,Riachao Das Neves,BR,81.55,clear sky,-11.7461,-44.91,Casa Costa\n414,Areia Branca,BR,86.2,broken clouds,-4.9561,-37.1369,Areia Branca Apart Hotel\n416,Beruwala,LK,81.14,overcast clouds,6.4788,79.9828,The Palms Hotel\n424,Hambantota,LK,87.8,broken clouds,6.1241,81.1185,Bungalow 63\n426,Santa Marta,CO,83.98,overcast clouds,11.2408,-74.199,Casa de Isabella\n428,Isabela,PH,80.65,broken clouds,6.7085,121.9711,Isawad Resort\n432,Gilgit,PK,82.33,scattered clouds,35.9221,74.3087,Tourist Hamlet Gilgit\n437,Prainha,BR,82.78,overcast clouds,-1.8,-53.48,Casa Rocha\n443,Marsabit,KE,78.69,broken clouds,2.3284,37.9899,Chicho Hotel\n447,Mucuri,BR,79.34,clear sky,-18.0864,-39.5508,La Bodeguita Pousada\n449,Candido Mendes,BR,85.46,clear sky,-1.4467,-45.7167,Quebrada Do Mlk PJL\n455,Puerto Quijarro,BO,82.96,overcast clouds,-17.7833,-57.7667,Hotel palance\n464,Kochi,IN,85.98,scattered clouds,9.9399,76.2602,Hotel Abad\n465,Tame,CO,75.88,scattered clouds,6.461,-71.73,Hospedaje Santa Ana\n469,Muros,ES,78.67,scattered clouds,42.7762,-9.0603,Apartment Av. Castelao\n470,Oranjestad,AW,84.0,scattered clouds,12.524000000000001,-70.027,Divi Village Golf & Beach Resort\n471,Sao Raimundo Nonato,BR,85.75,broken clouds,-9.0153,-42.6994,Real Hotel\n472,Lagunillas,VE,82.08,overcast clouds,10.1301,-71.2595,Casa de Beatriz y Chucho\n473,Apastepeque,SV,75.27,overcast clouds,13.6667,-88.7833,Posada Don Pablito\n474,Campoverde,PE,76.91,few clouds,-8.4753,-74.8058,Hospedaje Coral\'s\n475,Konya,TR,84.2,scattered clouds,38.1667,32.5,Bahcesaray Koyu Muhtarligi\n485,Biscarrosse,FR,87.49,clear sky,44.3945,-1.1672,Saint Hubert\n486,Siderno,IT,80.33,overcast clouds,38.2779,16.302,Grand Hotel President\n488,Kaputa,ZM,77.11,scattered clouds,-8.4689,29.6619,Chelelwa Charlets\n489,Atlantic Beach,US,81.12,few clouds,30.3344,-81.3987,One Ocean Resort & Spa\n490,Reidsville,US,76.26,clear sky,36.3549,-79.6645,"Holiday Inn Express & Suites Reidsville, an IHG Hotel"\n494,Milove,UA,78.48,scattered clouds,49.3787,40.1302,СТРЕЛЕЦКАЯ СЛОБОДА\n496,Santa Cruz Del Sur,CU,79.39,few clouds,20.7147,-77.9956,\n501,Melfi,IT,81.5,clear sky,40.9965,15.6514,HOTEL TERME DI RAPOLLA\n504,Miguel Calmon,BR,76.14,clear sky,-11.4289,-40.595,Pousada Guiomar\n505,Abu Samrah,SY,89.85,clear sky,35.3029,37.1841,\n506,Umm Lajj,SA,88.48,clear sky,25.0213,37.2685,Moon light Furnished Units\n508,Besskorbnaya,RU,76.82,scattered clouds,44.6447,41.31100000000001,\n511,Mbandaka,CD,86.95,overcast clouds,0.0487,18.2603,Guest House Epervier\n512,Pitimbu,BR,81.19,overcast clouds,-7.4706,-34.8086,Reserva do Abiaí\n513,Zvishavane,ZW,79.7,clear sky,-20.3267,30.0665,Hotel Boutique Runde\n514,Vila Do Maio,CV,79.59,few clouds,15.1333,-23.2167,Hotel Marilu\n515,Salinopolis,BR,82.35,scattered clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101\n516,Camacupa,AO,79.12,clear sky,-12.0167,17.4833,\n518,Barahona,DO,81.14,clear sky,18.2085,-71.1008,Hotel Caribe\n521,Arinos,BR,84.4,broken clouds,-15.9169,-46.1056,casa do bruno\n523,Chingirlau,KZ,82.58,overcast clouds,51.095,54.0814,\n527,Mookane,BW,78.46,clear sky,-23.688000000000002,26.6595,\n528,Aras,ES,77.41,clear sky,42.5617,-2.356,Jardines de Viana Spa\n531,Jacmel,HT,76.84,few clouds,18.2342,-72.5347,Hotel Florita\n532,Jibuti,DJ,87.22,clear sky,11.5,42.5,Orchid Main Camp Goubet\n533,Taperoa,BR,79.41,overcast clouds,-7.2075,-36.8267,Construir material de construção\n534,Totskoye,RU,82.96,broken clouds,52.5248,52.7623,Gostinitsa\n535,Kamenka,RU,75.69,broken clouds,51.3223,42.7678,\n537,Eyl,SO,84.45,overcast clouds,7.9803,49.8164,Amiin Hotel\n538,Sambava,MG,79.7,clear sky,-14.2667,50.1667,Melrose\n541,Manicore,BR,83.44,overcast clouds,-5.8092,-61.3003,Hotel Durval\n542,Mutuipe,BR,79.34,scattered clouds,-13.2286,-39.5047,Hotel Portal do Vale LTDA\n543,Saint-Pierre,RE,78.44,clear sky,-21.3393,55.4781,Lindsey Hôtel\n545,Marsh Harbour,BS,76.89,broken clouds,26.5412,-77.0636,Abaco Beach Resort\n548,Osinki,RU,80.33,overcast clouds,52.8432,49.5132,\n549,Ambanja,MG,85.93,clear sky,-13.6833,48.45,Hotel Salama and Fast Food\n550,Anuradhapura,LK,80.96,scattered clouds,8.3565,80.4173,Nilketha Villa Eco Hotel\n552,Chepareria,KE,75.38,light rain,1.3077,35.2039,Hamza Lodge\n555,Coari,BR,81.28,overcast clouds,-4.085,-63.1414,HOTEL ALEX FLAT\n558,Tucupita,VE,79.07,overcast clouds,9.0622,-62.051,Hotel Tucupita Su\u200bite C.A.\n561,Uige,AO,87.82,few clouds,-7.6087,15.0613,Hotel Catraio\n565,Sao Raimundo Das Mangabeiras,BR,84.7,broken clouds,-7.0219,-45.4811,Hotel Tropical\n566,Acarau,BR,83.55,clear sky,-2.8856,-40.12,castelo pizzaria\n567,Sao Miguel Do Araguaia,BR,83.7,overcast clouds,-13.275,-50.1628,Hotel Executivo Palace\n568,Bafilo,TG,87.87,scattered clouds,9.35,1.2667,Hôtel Assoli\n569,Ravar,IR,89.94,clear sky,31.2656,56.8055,computertik\n571,Mana,GF,78.64,overcast clouds,5.6592,-53.7767,LE SAMANA\n573,Mitu,CO,78.31,scattered clouds,1.1983,-70.1733,\n574,Ritchie,ZA,76.21,clear sky,-29.038,24.6028,Riverside County Club Modderrivier\n578,Tiznit,MA,79.74,overcast clouds,29.5833,-9.5,\n582,Oussouye,SN,89.78,clear sky,12.485,-16.5469,Auberge du Routard\n584,Uvinza,TZ,81.63,overcast clouds,-5.1036,30.3911,\n585,Inirida,CO,78.6,scattered clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo\n586,Banda Aceh,ID,79.68,light rain,5.5577,95.3222,Sulthan Hotel International\n592,Monrovia,LR,89.37,scattered clouds,6.3005,-10.7969,Sunset Inn\n594,Itacare,BR,76.89,few clouds,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos\n599,Carupano,VE,80.17,few clouds,10.6678,-63.2585,Hotel La dorada\n602,Mahanoro,MG,75.22,clear sky,-19.9,48.8,BUNGALOW MAHAMANINA\n603,Yashkul,RU,81.5,broken clouds,46.1711,45.3435,Bon Voyazh\n607,Arcachon,FR,86.41,clear sky,44.5875,-1.0519,Hôtel All Suites Le Teich\n608,Vieques,PR,84.0,few clouds,18.425,-65.8329,"The St. Regis Bahia Beach Resort, Puerto Rico"\n609,Laje,BR,78.1,clear sky,-10.1833,-40.9667,Pousada Centro\n610,Mamallapuram,IN,89.06,broken clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram\n617,Wajir,KE,87.76,scattered clouds,1.7471,40.0573,Al-bustan Hotel And Restaurant.\n619,Conceicao Da Barra,BR,82.65,scattered clouds,-18.5933,-39.7322,Cricaré Praia Hotel\n621,Lar,IN,76.86,overcast clouds,26.2039,83.9717,Ovaiskarni ward Lar\n625,Aripuana,BR,81.46,broken clouds,-9.1667,-60.6333,\n626,Bekhtery,UA,84.63,overcast clouds,46.251000000000005,32.2927,\n627,Alta Floresta,BR,77.74,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel\n630,Khakhea,BW,76.69,clear sky,-24.6895,23.494,\n632,Ampanihy,MG,82.22,clear sky,-24.7,44.75,Angora Hotel\n636,Charleston,US,81.0,clear sky,32.7766,-79.9309,The Mills House Wyndham Grand Hotel\n637,Emba,KZ,88.0,broken clouds,48.8264,58.1442,\n640,Sinnamary,GF,78.6,broken clouds,5.3833,-52.95,ALETHEIA Appartement Sinnamary\n641,Zafra,ES,84.43,scattered clouds,38.4167,-6.4167,Parador de Zafra\n642,Mineiros,BR,80.92,overcast clouds,-17.5694,-52.5511,Pilões Palace Hotel\n645,Zhezkazgan,KZ,82.4,clear sky,47.8043,67.7144,Ul. Ranova 15-1 Kvartiry Posutochno.\n646,Maracacume,BR,87.1,clear sky,-2.0428,-45.9592,Hotel Ramos\n649,Xuddur,SO,83.26,overcast clouds,4.1213,43.8894,Banjanay Hotel\n652,Rock Sound,BS,77.0,overcast clouds,24.9,-76.2,Rock Sound Club\n655,Misratah,LY,84.99,clear sky,32.3754,15.0925,فندق الماسة\n659,San Lawrenz,MT,78.21,few clouds,36.0553,14.204,San Andrea Hotel\n660,Resistencia,AR,77.09,clear sky,-27.4606,-58.9839,Niyat Urban Hotel\n661,Iquitos,PE,75.24,clear sky,-3.7481,-73.2472,Casa Morey Hotel & Restaurant\n663,Ankazoabo,MG,81.59,clear sky,-22.2833,44.5167,ENCEIN BUREAU CISCO\n668,Wilmington,US,82.98,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection by Hilton"\n671,Mazagao,BR,82.45,overcast clouds,-0.115,-51.2894,Recanto dos Ferreiras\n672,Muisne,EC,76.86,overcast clouds,0.6,-80.0333,Quinta Samay\n673,Caxito,AO,83.05,broken clouds,-8.5785,13.6643,\n674,Lucapa,AO,87.44,clear sky,-8.4192,20.7447,Residência Ulisses Dos Santos\n677,Louis Trichardt,ZA,79.77,clear sky,-23.0439,29.9032,139 on Munnik Guest House\n681,San Esteban,HN,76.1,overcast clouds,15.2,-85.75,TORO MUERTO\n682,Morant Bay,JM,82.02,scattered clouds,17.8815,-

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))